* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  font-weight: 800;
  font-family: Manrope;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2em;
}
.container {
  background-color: hsl(217, 19%, 24%);
  max-width: 50em;
  text-align: center;
  padding: 3.5em;
  border-radius: 1.5em;
  position: relative;
}
.advice_num {
  font-size: 1.8em;
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding-bottom: 2em;
}
.advice_class {
  color: hsl(193, 38%, 86%);
  padding-bottom: 2em;
  font-size: 2.8em;
}
.advice_app_img {
  width: 100%;
  padding-bottom: 2em;
}
button {
  width: 3.5em;
  height: 3.5em;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -1.5em;
  left: 45.5%;
  cursor: pointer;
}
.button_img {
  width: 40%;
}
